<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',
			filename='catalog.css', modified=174) }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js">
		</script>
		<link href="{{ url_for('recent_feed') }}" rel="alternate" 
			title="Latest Items from Sports Catalog App" type="application/atom+xml">
	</head>
	<body>
		<div class="FullFrame">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>

